.ligth{
  background-color: #fff;
}
.ligth .title-site h2,
.ligth .title-site h1{
  color:#282828;
}

.ligth .to-release:after{
  background-image: url('../../static/shadow_white.png');
}

.ligth .to-release h2,
.ligth .list-articles h3{
  color:#282828;
}

.ligth .share-article i{
  border-color: #e0e0e0;
}

.ligth .home-tags nav li{
    background-color: #eeeff2;
    border-color: #dfe0e4;
    color:#6e6e74;
}

/*MENU*/
.ligth .menu{
  background-color: #fff;
  border-color: #e4e4e4;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(207,207,207,.8);
-moz-box-shadow: 0px 0px 5px 0px rgba(207,207,207,.8);
box-shadow: 0px 0px 5px 0px rgba(207,207,207,.8);

}
.ligth .menu nav{
    border-color: #e7e7e7;
}
.ligth .menu nav li,
.ligth .menu nav li a{
  color: #282828
}
.ligth .menu:before{
  background-color: #fff;
  border-top: 1px solid #e4e4e4;
  border-left: 1px solid #e4e4e4;
}
.ligth .header-menu{
  border-color: #e7e7e7;
}
.ligth .header-menu span{
  color: #282828
}
